body {
	margin: 0;
	padding: 0;
	font-family: Arial Narrow;
	overflow-y: hidden;
	overflow-x: hidden;
	background: rgb(2,0,36);
	background: #2d2d2e
}

.heading{
	top: 240px;
	color: #bd001c;
	font-size: 90px;
	font-family: OCR A Std;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.valuelabel{
	color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
}
.inputs{
	font-size: 25px;
	position: absolute;
	top: 150px;
	left: 300px;
}
input {
	border-radius: 25px;
	height: 50px;
	width: 200px;
}
.submitbutton{
	position: absolute;
	top: 455px;
	left: 300px;
	text-decoration: none;
	padding: 15px 30px;
	font-weight: 600;
	font-size: 20px;
	border: 1px solid #bd001c;
	border-radius: 25px;
	transition: 0.5s;
	transition-property: background;
	color: #bd001c;
}
.submitbutton:hover{
	background: #bd001c;
	color: #fff;
}
