body {
	margin: 0;
	padding: 0;
	font-family: Comic Sans MS;
	overflow-y: hidden;
	overflow-x: hidden;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.heading{
	top: 240px;
	color: #00d4ff;
	font-size: 90px;
	font-family: fantasy;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.valuelabel{
	color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
}
.inputs{
	font-size: 25px;
	position: absolute;
	top: 150px;
	left: 300px;
}
input {
	border-radius: 25px;
	height: 50px;
	width: 200px;
}
.submitbutton{
	position: absolute;
	top: 455px;
	left: 300px;
	text-decoration: none;
	padding: 15px 30px;
	font-weight: 600;
	font-size: 20px;
	border: 1px solid #00d4ff;
	border-radius: 25px;
	transition: 0.5s;
	transition-property: background;
	color: #00d4ff;
}
.submitbutton:hover{
	background: #00d4ff;
	color: #fff;
}
