body {
	margin: 0;
	padding: 0;
	font-family: Arial Narrow;
	overflow-y: hidden;
	overflow-x: hidden;
	background: rgb(2,0,36);
	background: #2d2d2e
}
.thxheading{
	top: 240px;
	color: #bd001c;
	font-size: 90px;
	font-family: OCR A Std;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}
.homebutton{
	position: absolute;
	text-decoration: none;
	padding: 15px 30px;
	font-weight: 600;
	font-size: 20px;
	border: 1px solid #bd001c;
	border-radius: 25px;
	transition: 0.5s;
	transition-property: background;
	color: #bd001c;
}
.homebutton:hover{
	background: #bd001c;
	color: #fff;
}